In [1]:
import pandas as pd
import numpy as np

In [8]:
df_csv = pd.read_csv('data/neos.csv')
df_csv.shape

(23967, 75)

In [12]:
df_csv[df_csv['name']=='Apollo']['diameter']

10    1.5
Name: diameter, dtype: float64

In [27]:
df_csv[df_csv['name']!='']

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,G,...,n_obs_used,n_del_obs_used,n_dop_obs_used,condition_code,rms,two_body,A1,A2,A3,DT
0,a0000433,2000433,433 Eros (A898 PA),433,Eros,NaN,Y,N,10.4,0.46,...,8767,4.0,2.0,0.0,0.283970,NaN,NaN,NaN,NaN,NaN
1,a0000719,2000719,719 Albert (A911 TB),719,Albert,NaN,Y,N,15.5,NaN,...,1874,NaN,NaN,0.0,0.391480,NaN,NaN,NaN,NaN,NaN
2,a0000887,2000887,887 Alinda (A918 AA),887,Alinda,NaN,Y,N,13.8,-0.12,...,1424,NaN,NaN,0.0,0.481590,NaN,NaN,NaN,NaN,NaN
3,a0001036,2001036,1036 Ganymed (A924 UB),1036,Ganymed,NaN,Y,N,9.4,0.30,...,6249,0.0,1.0,0.0,0.385250,NaN,NaN,NaN,NaN,NaN
4,a0001221,2001221,1221 Amor (1932 EA1),1221,Amor,NaN,Y,N,17.7,NaN,...,540,NaN,NaN,0.0,0.455680,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23962,dK19Y04d,1003675,C/2019 Y4-D (ATLAS),2019 Y4-D,ATLAS,C,Y,NaN,NaN,NaN,...,74,NaN,NaN,9.0,0.892760,NaN,NaN,NaN,NaN,NaN
23963,dK20G010,1003672,P/2020 G1 (Pimentel),2020 G1,Pimentel,P,Y,NaN,NaN,NaN,...,490,NaN,NaN,5.0,0.826490,NaN,NaN,NaN,NaN,NaN
23964,dK20M030,1003699,C/2020 M3 (ATLAS),2020 M3,ATLAS,C,Y,NaN,NaN,NaN,...,271,NaN,NaN,5.0,0.459150,NaN,NaN,NaN,NaN,NaN
23965,dK20P04b,1003715,C/2020 P4-B,2020 P4-B,NaN,C,Y,NaN,NaN,NaN,...,80,NaN,NaN,9.0,0.079265,NaN,NaN,NaN,NaN,NaN
23966,dK20P04c,1003716,C/2020 P4-C,2020 P4-C,NaN,C,Y,NaN,NaN,NaN,...,29,NaN,NaN,9.0,0.024266,NaN,NaN,NaN,NaN,NaN

In [35]:
df_csv[df_csv['diameter']<=0]

Empty DataFrame
Columns: [id, spkid, full_name, pdes, name, prefix, neo, pha, H, G, M1, M2, K1, K2, PC, diameter, extent, albedo, rot_per, GM, BV, UB, IR, spec_B, spec_T, H_sigma, diameter_sigma, orbit_id, epoch, epoch_mjd, epoch_cal, equinox, e, a, q, i, om, w, ma, ad, n, tp, tp_cal, per, per_y, moid, moid_ld, moid_jup, t_jup, sigma_e, sigma_a, sigma_q, sigma_i, sigma_om, sigma_w, sigma_ma, sigma_ad, sigma_n, sigma_tp, sigma_per, class, producer, data_arc, first_obs, last_obs, n_obs_used, n_del_obs_used, n_dop_obs_used, condition_code, rms, two_body, A1, A2, A3, DT]
Index: []

[0 rows x 75 columns]

In [42]:
import json
from pandas.io.json import json_normalize

with open('data/cad.json') as f :
    data=json.load(f)

data['count']
# df_json = pd.DataFrame(data)

'406785'

In [68]:
for key in data['data']:
    if key[3].startswith('2000-Jan-01'):
        print(key)

['2015 CL', '7', '2451544.575085225', '2000-Jan-01 01:48', '0.144929602021186', '0.144894711605919', '0.144964493657327', '12.0338907050642', '12.0323628689746', '00:19', '25.3']
['2002 PB', '22', '2451544.656861311', '2000-Jan-01 03:46', '0.499221505520251', '0.499198890779505', '0.499244120869353', '29.3862908945476', '29.3861092695424', '< 00:01', '20.5']
['417655', '32', '2451544.967962443', '2000-Jan-01 11:14', '0.347809805138266', '0.347809185789178', '0.347810424487433', '9.63652182082792', '9.63572681897425', '< 00:01', '19.9']
['2002 AY1', '47', '2451545.232240258', '2000-Jan-01 17:34', '0.271330274354689', '0.271330198605043', '0.271330350105786', '24.6801874471394', '24.6797895515273', '< 00:01', '20.8']